/* responsive.css */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    section {
        padding: 10px;
    }
    .container{
        margin: 0px 20px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    .container{
        margin: 0px 10px;
    }
}
