<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/components.css" />
    <link rel="stylesheet" href="../css/responsive.css" />
    <title>About</title>
  </head>
  <body>
    <header></header>
    <section class="page_hero"></section>
    <section id="about" class="about-section">
      <h1>About</h1>
      <div class="about-container">
        <p>
          The ubiquity of mobile devices presents both opportunities and
          challenges for web designers. While responsive design has become a
          standard practice, the effectiveness of its implementation in
          enhancing user experience requires in-depth examination. Issues such
          as inconsistent user interfaces, varying performance across devices,
          and accessibility concerns demand a closer look. This research seeks
          to address these challenges and contribute to the refinement of mobile
          responsiveness to meet user expectations.
        </p>
        <div class="response-card">
          <h2>Our Mission</h2>
          <p>
            The strategic artifact for this research is a comprehensive
            responsive design prototype developed to address the identified
            challenges outlined in the literature review. This prototype serves
            as a tangible representation of the research findings and
            incorporates key elements to enhance mobile responsiveness. It
            showcases a uniform design language across devices, ensuring
            consistent user interfaces. The prototype also integrates
            optimizations for improved performance, featuring asynchronous
            script loading and image optimization. Additionally, it highlights
            advancements in accessibility, incorporating ARIA landmarks and
            providing text alternatives. This strategic artifact demonstrates
            the practical application of research insights to overcome
            challenges and enhance the mobile responsiveness of websites.
          </p>
          <!-- <a href="#services" class="card-button">Learn More</a> -->
        </div>
        <p>
          The primary deliverable will be a comprehensive responsive design
          prototype addressing identified challenges. This tangible artifact
          showcases a uniform design language, consistent user interfaces, and
          optimizations for enhanced performance and accessibility. The
          prototype integrates responsive design principles, including CSS media
          queries and flexible grid layouts. It also features performance
          optimization techniques such as asynchronous script loading and image
          optimization. Additionally, the prototype highlights advancements in
          inclusive design with clear font sizes, legible text, and alternative
          text for images. This deliverable serves as a practical representation
          of research insights, demonstrating effective strategies for
          optimizing mobile responsiveness in web design..
        </p>
      </div>
    </section>
    <footer></footer>
  </body>
  <script
    src="../js/loadComponent.js"
    type="application/javascript"
    async
  ></script>
  <script src="../js/main.js" type="application/javascript" async></script>
</html>
