<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/components.css" />
    <link rel="stylesheet" href="../css/responsive.css" />
    <title>About</title>
</head>
<body>

    <header></header>
    <section id="about" class="about-section">
        <div class="about-container">
            <h1>About Us</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus ex molestiae, 
                rem quidem, voluptatem debitis temporibus
                 praesentium distinctio obcaecati consectetur ab quod maiores provident 
                 ero ut ullam reiciendis sequi possimus.
            </p>
            <div class="response-card">
                <h2>Our Mission</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus ex molestiae, 
                    rem quidem, voluptatem debitis temporibus
                    praesentium distinctio obcaecati consectetur ab quod maiores provident 
                    ero ut ullam reiciendis sequi possimus.
                    </p>
                <a href="#services" class="card-button">Learn More</a>
            </div>
            <p>
               Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
        </div>
    </section>
    <footer></footer>
</body>
    <script
    src="../js/loadComponent.js"
    type="application/javascript"
    async
    ></script>
    <script src="../js/main.js" type="application/javascript" async></script>
</html>