<!-- navigation/navigation.html -->

<nav aria-label="Main Navigation" class="text_primary bg_primary">
  <div class="bg_primary">
    <section class="navbar container">
      <aside>
        <h4 class="nav_title">Prototype</h4>
      </aside>
      <ul id="nav_ul">
        <li><a class="nav_item" href="../index.html">Home</a></li>
        <li><a class="nav_item" href="../components/about.html">About</a></li>
        <li>
          <a class="nav_item" href="../components/contactus.html">Contact</a>
        </li>
      </ul>
    </section>
  </div>
  <!-- <button id="menu-toggle">Menu</button> -->
  <!-- <ul id="mobile-menu" class="hidden">
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul> -->
</nav>

<nav role="navigation" class="mobile_nav">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />

    <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>

    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <li><a class="nav_item" href="../index.html">Home</a></li>
      <li><a class="nav_item" href="../components/about.html">About</a></li>
      <li>
        <a class="nav_item" href="../components/contactus.html">Contact</a>
      </li>
    </ul>
  </div>
</nav>
