<body>
  <section class="hero-section">
    <div class="content hero_content">
      <h1>Responsive Design Prototype</h1>
      <p>
        The ubiquity of mobile devices presents both opportunities and
        challenges for web designers. While responsive design has become a
        standard practice, the effectiveness of its implementation in enhancing
        user experience requires in-depth examination
      </p>
      <button class="_button">
        <a href="../components/about.html">About us</a>
      </button>
    </div>
  </section>

  <main class="about_container">
    <section class="container">
      <h2 class="section_title">About</h2>
      <section class="about-us">
        <div class="image-stack">
          <img
            src="../assets/image-one.png"
            alt="Company Image 1"
            class="top-image"
          />
          <img
            src="../assets/image-two.png"
            alt="Company Image 2"
            class="bottom-image"
          />
        </div>
        <div class="text">
          <h1>Research Aim</h1>
          <p>
            The primary aim of this research is to thoroughly investigate the
            impact of mobile responsiveness on user experience in web design. By
            critically analysing current practices and addressing challenges
            associated with responsive design, the study aims to uncover nuanced
            factors influencing user satisfaction and engagement across various
            devices. The research strives to contribute valuable insights to the
            field of web design by identifying strategies for optimizing mobile
            responsiveness. The ultimate goal is to enhance the overall user
            experience, thereby informing best practices for designers and
            developers in creating inclusive and user-friendly online
            environments.
          </p>
          <p style="margin-top: 10px">
            This prototype serves as a tangible representation of the research
            findings and incorporates key elements to enhance mobile
            responsiveness. It showcases a uniform design language across
            devices, ensuring consistent user interfaces. The prototype also
            integrates optimizations for improved performance, featuring
            asynchronous script loading and image optimization.
          </p>
        </div>
      </section>
    </section>
  </main>

  <main class="card_container">
    <section class="container">
      <h2 class="section_title_2">Our Focus Areas</h2>
      <section class="grid-cards">
        <div class="card">
          <div class="card_img">
            <img
              id="office-images"
              src="../assets/image-four.png"
              alt="office-images"
            />
          </div>
          <div class="card_content">
            <h3>Inconsistent User Interfaces</h3>
            <p>
              Implement a responsive design approach using CSS media queries.
              Ensure consistent visual elements, such as color schemes and
              typography, across devices.Use flexible grid layouts to adapt
              content to various screen sizes.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card_img">
            <img
              id="office-images"
              src="../assets/image-five.png"
              alt="office-images"
            />
          </div>
          <div class="card_content">
            <h3>Performance Discrepancies</h3>
            <p>
              To enhance accessibility, use clear font sizes and legible text
              for improved readability, and incorporate ARIA landmarks to help
              users with screen readers navigate content efficiently.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card_img">
            <img
              id="office-images"
              src="../assets/image-six.png"
              alt="office-images"
            />
          </div>
          <div class="card_content">
            <h3>Accessibility Concerns</h3>
            <p>
              Enhance accessibility by prioritizing readability through clear
              font sizes and legible text, using ARIA landmarks to facilitate
              navigation for users with screen readers, and ensuring adequate
              color contrast for users with visual impairments.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card_img">
            <img
              id="office-images"
              src="../assets/image-seven.png"
              alt="office-images"
            />
          </div>
          <div class="card_content">
            <h3>Streamlining Digital Accessibility</h3>
            <p>
              Maintain adequate color contrast to support users with visual
              impairments and offer descriptive alternative text for images to
              provide context for those using screen readers. By implementing
              these practices, you can create digital content that is accessible
              and enjoyable for everyone.
            </p>
          </div>
        </div>
      </section>
    </section>
  </main>
</body>
